
  /* Edited Bootstrap classes */

  .nav-link {
   color: rgba(218, 165, 32, 1);
  }

  .nav-link:active,
  .nav-link:focus,
  .nav-link:hover {
    color: rgb(255, 216, 116);
   }
  
  /* additional classes */
html, body{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: 'Baskervville', serif;
    max-width: 1700px;
}
.features {
    scroll-margin-top: 80px;

  }
  

body{
    background:  fixed;
    background-position: center center;
    background-size: cover;

}

.w-10{
    width: 10%;
}

.vh-70{
    height: 70vh;
}

.mt-hero-text{
    margin-top: 0rem;
}

.logo{
    max-width: 10rem;
}
.contact-images{
    width: 3rem;
    transition: all .3s ease-in-out;
    filter: grayscale(.9);
}

.contact-images:hover{
    transform: scale(1.3);
    filter: grayscale(0);
}

.centered{
    width: 100%;
}

.max-height{
    height: 100vh;
}



.navbar-scroll {
    background-color: whitesmoke;
    box-shadow: 0 0 5px #212121;
    transition: all .6s ease-in-out;
  }

.transparent-header {
    background-color: transparent !important;
    box-shadow: none !important;
  }
  
.gold{
    color: goldenrod;
}

.btn-gold{
    background-color: goldenrod;
    color: white;
}
.hero-image{
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
}

.carousel-image{
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
}



.center-object-position {
    object-position: center;
  }
.top-object-position{
    object-position: top;
}

.carousel-indicators button {
    background-color: transparent; 
    border: none; 
    width: 10px; 
    height: 30px; 
    margin: 0 5px; 
    padding: 0; 
    border-radius: 0; 
  }

  .carousel-indicators .active {
    background-color: rgb(255, 216, 116);
    transform: scaleY(2); 
  }




/* MEDIA QUERIES */
@media (max-width: 425px){
    .logo{
        width: 75px;
    }

}

@media (max-width: 767px){
    .logo{
        width: 100px;
    }
    .hero-image{
        clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
        max-height: 60vh;
    }
}


@media(min-width: 768px) {
    .mt-hero-text{
        margin-top: 8rem;
}}



