/* Edited Bootstrap classes */

.nav-link.active {
  border: rgb(255, 216, 116) solid 1px !important;
  color: rgb(255, 216, 116) !important;
  border-radius: 0.5rem;
}

.nav-link {
  color: rgba(218, 165, 32, 1);
  transition: all ease-in-out 0.2s;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  color: rgb(255, 216, 116);
  scale: 1.05;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  border: rgb(255, 216, 116) solid 2px;
  background-color: #002625;
}

.carousel-indicators button {
  background-color: transparent;
  border: none;
  width: 10px;
  height: 30px;
  margin: 0 5px;
  padding: 0;
  border-radius: 0;
}

.carousel-indicators .active {
  background-color: rgba(218, 165, 32, 1);
  transform: scaleY(3);
}

/* additional classes */
html,
body {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: "Baskervville", serif;
  max-width: 1700px;
}
html {
  scroll-behavior: smooth;
}
.breed {
  scroll-margin-top: 100px;
}
.images {
  scroll-margin-top: 180px;
}

/* body {
  background: url("./images/background.jpeg") fixed;
  background-position: center center;
  background-size: contain;
} */

.text-shadow {
  text-shadow: 0 0 10px #212121;
}

.lands-dimesions{
  height: 200px;
  width: 200px;
}

.cards-dimensions {
  width: 200px;
  height: 300px;
}
.border-gold {
  border: solid 1px rgb(255, 216, 116);
}

.vh-50 {
  height: 50vh;
}
.vh-60 {
  height: 60vh;
}
.vh-70 {
  height: 70vh;
}
.vh-80 {
  height: 80vh;
}
.vh-90 {
  height: 90vh;
}
.custom-card-vh {
  height: 70vh;
}
.custom-images-vh {
  height: 100vh;
}

.mt-hero-text {
  margin-top: 0rem;
}
.header {
  max-height: 100px;
  transition: all 0.3s ease-in-out;
}
.header-scroll {
  background-color: #212529;
  border-bottom: rgb(255, 216, 116) solid 1px;
  transition: all 0.3s ease-in-out;

}

.transparent-header {
  background-color: transparent !important;
  box-shadow: none !important;
}

.logo {
  position: absolute;
  top: 1rem;
  left: 1rem;

  width: 30vw;
  max-width: 190px;
  min-width: 90px;
  transition: all 0.1s ease-in-out;
}
.logo-scroll {
  max-width: 4vw;
  transition: all 0.1s ease-in-out;
}

.footer-logo {
  width: 90vw;
  max-width: 400px;
}
.contact-images {
  width: 3rem;
  transition: all 0.4s ease-in-out;
  filter: grayscale(0.8);
  animation: pulse 3s infinite forwards;
}

.contact-images:hover {
  animation-play-state: paused;
  filter: grayscale(0);
  rotate: 360deg;
}

.centered {
  width: 100%;
}

.max-height {
  height: 100vh;
}

.icon {
  height: 2rem;
  width: 2rem;
}

.gold {
  color: rgb(255, 216, 116);
}

.btn-gold {
  background-color: rgba(218, 165, 32, 1);
  border: solid 1px rgb(255, 216, 116);
  color: white;
}
.btn-gold:hover,
.btn-gold:active,
.btn-gold:focus {
  background-color: transparent;
  border: solid 1px rgb(255, 216, 116);
}
.hero-image {
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
}

.carousel-image {
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
}

.center-object-position {
  object-position: center;
}
.top-object-position {
  object-position: top;
}

.svg-icon {
  width: 5rem;
  height: 5rem;
}

.svg-icon path {
  fill: transparent;
  stroke-width: 5;
  stroke: rgb(255, 216, 116);
}

.svg-icon-animate path {
  animation: line-anima 4s ease forwards 0.5s;
}

#svg-1 path {
  stroke-dasharray: 5450px;
  stroke-dashoffset: 5450px;
}
#svg-2 path {
  stroke-dasharray: 3660px;
  stroke-dashoffset: 3660px;
}
#svg-3 path {
  stroke-dasharray: 2541px;
  stroke-dashoffset: 2541px;
}
#svg-4 path {
  stroke-dasharray: 4125px;
  stroke-dashoffset: 4125px;
}
#svg-5 path {
  stroke-dasharray: 7303px;
  stroke-dashoffset: 7303px;
}
#svg-6 path {
  stroke-dasharray: 4454px;
  stroke-dashoffset: 4454px;
}

.no-wrap {
  flex-wrap: nowrap;
}

/* MEDIA QUERIES */
@media (max-width: 425px) {
  .custom-card-vh {
    height: 90vh;
  }
  .custom-images-vh {
    height: 40vh;
  }
  .lands-dimesions{
    height: 100px;
    width: 48vh;
  }
}

@media (max-width: 767px) {
  .hero-image {
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
    max-height: 60vh;
  }
  .custom-card-vh {
    height: 70vh;
  }
  .custom-images-vh {
    height: 70vh;
  }
}

@media (min-width: 768px) {
  .mt-hero-text {
    margin-top: 8rem;
  }
}

/* Animations */
@keyframes line-anima {
  to {
    stroke-dashoffset: 0;
    fill: rgba(218, 165, 32, 1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  70% {
    transform: scale(1.35);
  }

  100% {
    transform: scale(1);
  }
}

/* 
SVG 0 is 5450.4 px long
SVG 1 is 3660.9 px long
SVG 2 is 2541.4 px long
SVG 3 is 4125.6 px long
SVG 4 is 7303.0 px long
SVG 5 is 4454.1 px long */
