
  /* Edited Bootstrap classes */

  .active{
    border:rgb(255, 216, 116) solid 1px !important;
    color: rgb(255, 216, 116) !important;
    border-radius: 1rem;
  }

  .nav-link {
   color: rgba(218, 165, 32, 1);
   transition: all ease-in-out .2s;
  }

  .nav-link:active,
  .nav-link:focus,
  .nav-link:hover {
    color: rgb(255, 216, 116);
    scale: 1.05;
   }
  
  /* additional classes */
html, body{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: 'Baskervville', serif;
    max-width: 1700px;
}
html{
    scroll-behavior: smooth;
}
.features {
    scroll-margin-top: 80px;
}

body{
    background:  fixed;
    background-position: center center;
    background-size: cover;

}

.w-10{
    width: 10%;
}

.vh-70{
    height: 70vh;
}

.mt-hero-text{
    margin-top: 0rem;
}
.header{
    max-height: 100px;
}

.logo{
    position: absolute;
    top: 1rem;
    left: 1rem;

    width: 40vw;
    max-width: 190px; 
    min-width: 90px; 
    transition: all .1s ease-in-out;

}
.logo-scroll{
    max-width: 4vw;
    transition: all .1s ease-in-out;
}
.contact-images{
    width: 3rem;
    transition: all .4s ease-in-out;
    filter: grayscale(.8);
    animation: pulse 3s infinite forwards ;
}

.contact-images:hover{
    animation-play-state: paused;
    filter: grayscale(0);
    rotate: 360deg;
}

.centered{
    width: 100%;
}

.max-height{
    height: 100vh;
}

.icon{
    height: 2rem;
    width: 2rem;
}



.navbar-scroll {
    background-color: white;
    box-shadow: 0 0 5px #2d2c2c;
    transition: all .6s ease-in-out;
  }

.transparent-header {
    background-color: transparent !important;
    box-shadow: none !important;
  }
  
.gold{
    color: goldenrod;
}

.btn-gold{
    background-color: goldenrod;
    color: white;
}
.hero-image{
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
}

.carousel-image{
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
}



.center-object-position {
    object-position: center;
  }
.top-object-position{
    object-position: top;
}

.carousel-indicators button {
    background-color: transparent; 
    border: none; 
    width: 10px; 
    height: 30px; 
    margin: 0 5px; 
    padding: 0; 
    border-radius: 0; 
  }

  .carousel-indicators .active {
    background-color: rgb(255, 216, 116);
    transform: scaleY(2);
  }

.icon{
    width: 4rem;
    height: 4rem;
}

.icon path{
    fill: transparent;
    stroke-width: 1;
    stroke: goldenrod;
}




/* MEDIA QUERIES */
@media (max-width: 425px){
    .logo{

    }

}

@media (max-width: 767px){
    .logo{

    }
    .hero-image{
        clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
        max-height: 60vh;
    }
}


@media(min-width: 768px) {
    .mt-hero-text{
        margin-top: 8rem;
}}



/* Animations */

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	70% {
		transform: scale(1.35);
	}

	100% {
		transform: scale(1);
	}
}


/* 
SVG 0 is 5450.4 px long
SVG 1 is 3660.9 px long
SVG 2 is 2541.4 px long
SVG 3 is 4125.6 px long
SVG 4 is 7303.0 px long
SVG 5 is 4454.1 px long */


