/* Edited Bootstrap classes */

.offcanvas {
  max-width: 60vw;
  height: 100vh;
  background-color: #111111;
}

.nav-link.active {
  border: rgb(255, 216, 116) solid 1px !important;
  color: rgb(255, 216, 116) !important;
  border-radius: 0.5rem;
}

.nav-link {
  color: rgba(218, 165, 32, 1);
  transition: all ease-in-out 0.2s;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  color: rgb(255, 216, 116);
  scale: 1.05;
}

.carousel-control-next,
.carousel-control-prev {
  align-items: center;
}
.carousel-control-next-icon,
.carousel-control-prev-icon{
  background-color: aqua;
}


button.navbar-toggler {
  position: relative;
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: solid 1px rgb(255, 216, 116);
}

.navbar-toggler-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2px;
  width: 24px;
  background-color: rgb(255, 216, 116);
  border: none;
}
.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 24px;
  background-color: rgb(255, 216, 116);
}
.navbar-toggler-icon::before {
  top: -8px;
  transform: translate(-50%, -50%);
}
.navbar-toggler-icon::after {
  bottom: -10px;
  transform: translate(-50%, -50%);
}

/* additional classes */
html,
body {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: "Baskervville", serif;
  max-width: 1400px;
}
html {
  scroll-behavior: smooth;
}
.breed {
  padding-top: 5rem;
}
.images {
  scroll-padding-top: 8rem;
}
.testimonials {
  padding-top: 10rem;
}
.competitions {
  padding-top: 8rem;
}
.custom-carousel-height {
  height: unset;
}

body {
  background: url("./images/background.jpeg") fixed;
  background-position: center center;
  background-size: cover;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.95);
  z-index: -1;
  pointer-events: none;
}

.text-shadow {
  text-shadow: 0 0 10px #212121;
}

.lands-dimesions {
  height: 52vw;
  width: 40vw;
  text-align: center;
  max-width: 200px;
  max-height: 200px;
}

.cards-dimensions {
  width: 200px;
  height: 300px;
}
.border-gold {
  border: solid 1px rgb(255, 216, 116);
}

.vh-50 {
  height: 50vh;
}
.vh-60 {
  height: 60vh;
}
.vh-70 {
  height: 70vh;
}
.vh-80 {
  height: 80vh;
}
.vh-90 {
  height: 90vh;
}
.custom-card-vh {
  height: 70vh;
}
.custom-images-vh {
  height: 100vh;
}

.mt-hero-text {
  margin-top: 0rem;
}
.header {
  max-height: 100px;
  transition: all 0.3s ease-in-out;
}
.header-scroll {
  background-color: #111111;
  border-bottom: rgb(255, 216, 116) solid 1px;
  transition: all 0.3s ease-in-out;
}
.navbar-toggler-icon > * {
  background-color: blue;
}

.transparent-header {
  border-bottom: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.logo {
  position: absolute;
  top: 1rem;
  left: 1rem;

  width: 30vw;
  max-width: 190px;
  min-width: 90px;
  transition: all 0.1s ease-in-out;
}
.logo-scroll {
  max-width: 4vw;
  transition: all 0.1s ease-in-out;
}

.footer-logo {
  width: 90vw;
  max-width: 400px;
}
.contact-images {
  width: 3rem;
  transition: all 0.4s ease-in-out;
  filter: grayscale(0.8);
  animation: pulse 3s infinite forwards;
}

.contact-images:hover {
  animation-play-state: paused;
  filter: grayscale(0);
  rotate: 360deg;
}

.centered {
  width: 100%;
}

.max-height {
  height: 100vh;
}

.icon {
  height: 2rem;
  width: 2rem;
}

.gold {
  color: rgb(255, 216, 116);
}

.btn-gold {
  background-color: rgba(218, 165, 32, 1);
  border: solid 1px rgb(255, 216, 116);
  color: white;
}
.btn-gold:hover,
.btn-gold:active,
.btn-gold:focus {
  background-color: transparent;
  border: solid 1px rgb(255, 216, 116);
}
.btn-pulse {
  animation: btn-pulse 1s ease-in-out alternate infinite;
}

.hero-image {
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
}

.carousel-image {
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
}

.top-object-position {
  object-position: top;
}
.center-object-position {
  object-position: center;
}
.right-object-position {
  object-position: right;
}
.left-object-position {
  object-position: left;
}

.svg-icon {
  width: 5rem;
  height: 5rem;
}

.svg-icon path {
  fill: transparent;
  stroke-width: 5;
  stroke: rgb(255, 216, 116);
}

.svg-icon-animate path {
  animation: line-anima 4s ease forwards 0.5s;
}

#svg-1 path {
  stroke-dasharray: 5450px;
  stroke-dashoffset: 5450px;
}
#svg-2 path {
  stroke-dasharray: 3660px;
  stroke-dashoffset: 3660px;
}
#svg-3 path {
  stroke-dasharray: 2541px;
  stroke-dashoffset: 2541px;
}
#svg-4 path {
  stroke-dasharray: 4125px;
  stroke-dashoffset: 4125px;
}
#svg-5 path {
  stroke-dasharray: 7303px;
  stroke-dashoffset: 7303px;
}
#svg-6 path {
  stroke-dasharray: 4454px;
  stroke-dashoffset: 4454px;
}

.no-wrap {
  flex-wrap: nowrap;
}

/* MEDIA QUERIES */
@media (max-width: 425px) {
  .custom-card-vh {
    height: 90vh;
  }
  .custom-images-vh {
    height: 40vh;
  }
  .lands-dimesions {
    height: 48vw;
    width: 37vw;
  }
}

@media (max-width: 767px) {
  .hero-image {
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
    max-height: 60vh;
  }
  .custom-card-vh {
    height: 70vh;
  }
  .custom-images-vh {
    height: 70vh;
  }
}

@media (max-width: 991px) {
  .breed {
    padding-top: 4rem;
  }
  .images {
    padding-top: 100px;
  }
  .testimonials {
    padding-top: 6rem;
  }
  .competitions {
    padding-top: 3rem;
  }
  .hero-image {
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@media (min-width: 768px) {
  .mt-hero-text {
    margin-top: 8rem;
  }
}
@media (min-width: 992px) {
  .breed {
    padding-top: 3rem;
  }
  .images {
    scroll-margin-top: 150px;
  }
  .testimonials {
    padding-top: 6rem;
  }
  .competitions {
    padding-top: 3rem;
  }
}

@media (min-width: 992px) {
  .custom-carousel-height {
    height: 80vh;
  }
}

/* Animations */
@keyframes line-anima {
  to {
    stroke-dashoffset: 0;
    fill: rgba(218, 165, 32, 1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  70% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes btn-pulse {
  0% {
    transform: scale(1);
    translate: -1%;
  }

  25% {
    transform: scaleY(1);
    translate: 0%;
  }

  75% {
    transform: scaleY(1);
    translate: 1%;
  }

  100% {
    transform: scale(1);
    translate: 0%;
  }
}

/* 
SVG 0 is 5450.4 px long
SVG 1 is 3660.9 px long
SVG 2 is 2541.4 px long
SVG 3 is 4125.6 px long
SVG 4 is 7303.0 px long
SVG 5 is 4454.1 px long */
