html, body{
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Baskervville', serif;
    max-width: 1700px;
}
body{
    background:  fixed;
    background-position: center center;
    background-size: cover;

}

.w-10{
    width: 10%;
}

.vh-80{
    height: 80vh;
}

.mt-hero-text{
    margin-top: 0rem;
}

.logo{
    max-width: 10rem;
}
.contact-images{
    width: 2rem;
    transition: all .3s ease-in-out;
    filter: grayscale(.9);
}

.contact-images:hover{
    transform: scale(1.3);
    filter: grayscale(0);
}

.centered{
    width: 100%;
}

.max-height{
    height: 100vh;
}

.navbar-scroll {
    background-color: whitesmoke;
    box-shadow: 0 0 5px #212121;
    transition: all 1s ease-in-out;
  }
  
.gold{
    color: goldenrod;
}

.btn-gold{
    background-color: goldenrod;
    color: white;
}
.hero-image{
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
}

.custom-object-position {
    object-position: center;
  }


/* MEDIA QUERIES */
@media (max-width: 425px){
    .logo{
        width: 75px;
    }

}

@media (max-width: 767px){
    .logo{
        width: 100px;
    }
    .hero-image{
        clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
        max-height: 60vh;
    }
}


@media(min-width: 768px) {
    .mt-hero-text{
        margin-top: 8rem;
}}



