html, body{
    box-sizing: border-box;
    margin: 0;
}

.logo{
    width: 10vw;
}
.contact-images{
    width: 2rem;
    transition: all .3s ease-in-out;
    filter: grayscale(.9);
}

.contact-images:hover{
    transform: scale(1.3);
    filter: grayscale(0);
}

.centered{
    max-width: 100%;
}

@media (max-width: 576px) {
    .logo{
        width: 25vw;
    }
}