html, body{
    box-sizing: border-box;
    margin: 0;
}

.logo{
    max-width: 10rem;
}
.contact-images{
    width: 2rem;
    transition: all .3s ease-in-out;
    filter: grayscale(.9);
}

.contact-images:hover{
    transform: scale(1.3);
    filter: grayscale(0);
}

.centered{
    width: 100%;
}

.max-height{
    height: 100vh;
}
