html, body{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Baskervville', serif;
    
}
.mt-hero{
    margin-top: 8rem;
}

.w-10{
    width: 10%;
}

.logo{
    max-width: 10rem;
}
.contact-images{
    width: 2rem;
    transition: all .3s ease-in-out;
    filter: grayscale(.9);
}

.contact-images:hover{
    transform: scale(1.3);
    filter: grayscale(0);
}

.centered{
    width: 100%;
}

.max-height{
    height: 100vh;
}

.navbar-scroll {
    background-color: whitesmoke;
    box-shadow: 0 0 5px #212121;
    transition: all 1s ease-in-out;
  }
  
.gold{
    color: goldenrod;
}

.btn-gold{
    background-color: goldenrod;
    color: whitesmoke;
}
.hero-image{
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
}


/* MEDIA QUERIES */
@media (max-width: 425px){
    body{
        text-align: center;
    }
    .logo{
        width: 25%;
    }
    .mt-hero{
        margin-top: 6rem;
    }
}




